<a href="https://colab.research.google.com/github/Jwouji/IntroductionDataEngineering/blob/main/Clase%204%20Python%20Consejos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Para asignar variables es mejor seguir un orden
width = 100;
height = 400;
color = 'red'
emphasis = 'yellow'
highlight = 'green'

print(width, height, color, emphasis, highlight);
# si hay dos comas seguidas es error de sintaxis

100 400 red yellow green

In [4]:
a = [ 1, 2, 3] # Aplicar espacios-separación para hacerlo mas legible
print(a)

[1, 2, 3]

hola_mundo -> snake_case -> python
(variables y funciones)

holamundo -> camelCase

holaMundo -> PascalCase -> Python (class)

In [16]:
float = 's';
print(float);
float('10, 0');
# no declarar variables como funciones

SyntaxError: invalid syntax (<ipython-input-16-885f1942b47c>, line 6)

In [17]:
def = 1200;
print(def);
# otro ejemplo

SyntaxError: invalid syntax (<ipython-input-17-e558696bd947>, line 1)

In [29]:
4number = 4
my list = []
--code__ = 123
for loop = 'last iteration'
print(4number, my list, --code__, for loop);
# las variables NO pueden inciar por numero, tener un espacio, hacer un
# decremento y usar una palabra reservada

SyntaxError: invalid decimal literal (<ipython-input-29-b2960fb7868e>, line 1)

In [30]:
try
  4number = 4;
  my list = [];
  --code__ = 123;
  for loop = 'last iteration';
  print(4number, my list, --code__, for loop);
except SyntaxError as e:
  print("error de capa 8 (usuario): ", e);

  #Cuando el error es por parte del programador, la función syntax error, no va
  # a funcionar

SyntaxError: invalid decimal literal (<ipython-input-30-9c45e08aeb8c>, line 2)

# Ejercicio 1

In [32]:
# metodo 1
print("    *      ");
print("   ***     ");
print("  *****    ");
print(" *******   ");
print("  *****    ");
print("   ***     ");
print("    *      ");
# metodo 2
print(" " * 4 + "*" * 1);
print(" " * 3 + "*" * 3);
print(" " * 2 + "*" * 5);
print(" " * 1 + "*" * 7);

    *
   ***
  *****
 *******
  *****
   ***
    *
    *
   ***
  *****
 *******

# Funciones

In [46]:
row = int(input("Ingrese el numero de filas: "));
col = int(input("Ingrese el numero de columnas: "));

def print_charts(cols):
  print(' ' * (int(cols/ 2) - i), '*' * ((i * 2) - 1));

for i in range (1, int(row /2) + 1):
  print_charts(col);

for i in range (int(row /2) + 1, 0, -1):
  print_charts(col);

#i es el numero de la iteración

Ingrese el numero de filas: 6
Ingrese el numero de columnas: 9
    *
   ***
  *****
 *******
  *****
   ***
    *

In [49]:
print(0 + 'hola');
print([ 1, 2, 3] + 3);
# no puedes concatenar 2 tipos de datos diferentes :)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
print('0', '9', sep='---');
print([ 1, 2, 3] + [ 4, 5, 6]);

0---9
[1, 2, 3, 4, 5, 6]